/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-color: #F1B2CE;
  --main-font: 'IBM Plex Mono';
  --extra-color: #000028;
  --heading-color: #DB00FF;
  --accent-color: #FF0070;
  --accent-hover-color: rgba(255, 0, 112, 0.40);
  --back-img: fixed url(../images/cover-image-dark.png) no-repeat center / cover;
  --special-space: 10px;
  --specific-spacebar: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
  --main-color: #F1B2CE;
  --main-font: 'IBM Plex Mono';
  --extra-color: #000028;
  --heading-color: #DB00FF;
  --accent-color: #FF0070;
  --accent-hover-color: rgba(255, 0, 112, 0.40);
  --back-img: fixed url(../images/cover-image-dark.png) no-repeat center / cover;
  --special-space: 10px;  
  --specific-spacebar: 10px;
  }
}
