:root .theme_light {
  --main-color: #353430;
  --main-font: 'IBM Plex Mono', monospace;
  --extra-color: #FFF1F7;
  --heading-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --accent-hover-color: rgba(50, 49, 45, 0.40);
  --back-img: fixed url(../images/cover-image-light.png) no-repeat center / cover;
  --heading-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.page.theme_light .decorated-zone::before {
  border-color: var(--main-color);
}

.page.theme_light .decorated-zone::after {
  border-color: var(--main-color);
}

.page.theme_light .header__decor-element {
  display: none;
}

.page.theme_light .title-decor {
  --extra-color: var(--main-color);
}

.page.theme_light .heading-decor {
  --accent-color: var(--main-color);
}

.page.theme_light .header__theme-menu-list {
  color: var(--main-color);
}

.page.theme_light .header__theme-menu-button {
  color: var(--main-color);
}

.page.theme_light .header__theme-menu-button:focus-visible {
  --accent-color: var(--main-color);
}

.page.theme_light .header__theme-menu-button.header__theme-menu-button_active  {
  outline: 1px solid var(--main-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #353430;
    --main-font: 'IBM Plex Mono', monospace;
    --extra-color: #FFF1F7;
    --heading-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --accent-hover-color: rgba(50, 49, 45, 0.40);
    --back-img: fixed url(../images/cover-image-light.png) no-repeat center / cover;
    --heading-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .page:not(.theme_dark) .decorated-zone::before {
    border-color: var(--main-color);
  }
  
  .page:not(.theme_dark) .decorated-zone::after {
    border-color: var(--main-color);
  }

  .page:not(.theme_dark) .header__decor-element {
    display: none;
  }
  
  .page:not(.theme_dark) .title-decor {
    --extra-color: var(--main-color);
  }
  
  .page:not(.theme_dark) .heading-decor {
    --accent-color: var(--main-color);
  }
  
  .page:not(.theme_dark) .header__theme-menu-list {
    color: var(--main-color);
  }
  
  .page:not(.theme_dark) .header__theme-menu-button {
    color: var(--main-color);
  }

  .page:not(.theme_dark) .header__theme-menu-button:focus-visible {
    --accent-color: var(--main-color);
  }
  
  .page:not(.theme_dark) .header__theme-menu-item:has(.header__theme-menu-button_active) {
    outline: 1px solid var(--main-color);
  }
}
