.page.theme_light {
  --main-color: #353430;
  --main-font: 'IBM Plex Mono';
  --extra-color: #FFF1F7;
  --heading-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --accent-hover-color: rgba(50, 49, 45, 0.40);
  --back-img: fixed url(../images/cover-image-light.png) no-repeat center / cover;
  --special-space: 10px;
  --specific-spacebar: 10px;
}

.page.theme_light .header__decor-element {
  display: none;
}

.page.theme_light .title-decor {
  color: var(--main-color);
}

.page.theme_light .decorated-zone::before {
  border-bottom: 1px solid var(--main-color);
  border-left: 1px solid var(--main-color);
}

.page.theme_light .decorated-zone::after {
  border-top: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
}

/* .page.theme_light .header__decor-element {
  display: none;
} */

.page.theme_light .header__theme-menu-item:has(.header__theme-menu-button_active) {
  outline: 1px solid var(--main-color);
}

.page.theme_light .header__theme-menu-button {
  color: var(--main-color);
}

/* .page.theme_light .title-decor {
  color: var(--main-color);
} */

.page.theme_light .heading-decor {
  color: var(--main-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #353430;
    --main-font: 'IBM Plex Mono';
    --extra-color: #FFF1F7;
    --heading-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --accent-hover-color: rgba(50, 49, 45, 0.40);
    --back-img: fixed url(../images/cover-image-light.png) no-repeat center / cover;
    --special-space: 10px;  
    --specific-spacebar: 10px;
  }

  .page.theme_auto .header__decor-element {
    display: none;
  }

  .page.theme_auto .title-decor {
    color: var(--main-color);
  }

  .page.theme_auto .decorated-zone::before {
    border-bottom: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
  }
  
  .page.theme_auto .decorated-zone::after {
    border-top: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
  }
  
  /* .page.theme_auto .header__decor-element {
    display: none;
  } */
  
  .page.theme_auto .header__theme-menu-item:has(.header__theme-menu-button_active) {
    outline: 1px solid var(--main-color);
  }
  
  .page.theme_auto .header__theme-menu-button {
    color: var(--main-color);
  }
  
  /* .page.theme_auto .title-decor {
    color: var(--main-color);
  } */

  .page.theme_auto .heading-decor {
    color: var(--main-color);
  }
}
