.page {
  background: var(--extra-color) var(--back-img);
}

.header {
  display: grid;
  grid-template: 
  min-content
  min-content
  min-content
  / 1fr 1fr;
  grid-template-areas: 
  "nav nav"
  "heading heading"
  "description description";
  padding: var(--special-space);
  block-size: 100vh;
  min-block-size: 375px;
}

.title-decor {
  color: var(--extra-color);
  font-weight: 700;
  font-size: 18px;
  background-color: var(--accent-color);
}

.heading-decor {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
}

.text-link {
  box-sizing: border-box;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
  border-bottom: 1px solid var(--main-color);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--main-color);

}

.header__decor-element {
  position: absolute;
  max-width: fit-content;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.38;
  text-transform: uppercase;
  inset-block-start: 11px;
  inset-inline-end: 19px;
}
.header__decor-element::after {
  content: "";
  display: inline-block;
  margin-inline-start: 10px;
  margin-block-end: 2px;
  border-radius: 50%;
  color: var(--accent-color);
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  inset-block-end: var(--decor-space);
  inset-inline-start: var(--decor-space);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  inset-block-start: var(--decor-space);
  inset-inline-end: var(--decor-space);
}

.header__theme-menu {
  display: flex;
  grid-area: nav;
  justify-content: end;
  padding-block-start: var(--nav-space);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-item {
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 24px;
}

.header__theme-menu-button {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  color: var(--accent-color);
  font-family: var(--main-font);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
  padding-block-end: 3px;
}

.header__heading {
  grid-area: heading;
  padding-block-start: var(--heading-space);
  color: var(--heading-color);
  font-weight: 700;
  font-size: var(--heading-font-size);
  line-height: 0.82;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  grid-area: description;
  width: 100%;
  max-width: 355px;
  margin-block-start: 55px;
  margin-block-end: 56px;
  white-space: pre-line;
}

.content {
  padding-inline-start: var(--special-space);
  padding-inline-end: var(--special-space);
}

.reasons {
  padding-block-start: 40px;
}

.reasons__item {
  padding-block-start: 20px;
}

.reasons__paragraph {
  padding-block-start: 10px;
}

.attension {
  padding-block-start: 50px;
}

.attension__item {
  padding-block-start: 20px;
}

.attension__paragraph {
  padding-block-start: 10px;
}

.focus {
  padding-block-start: 50px;
}

.focus__subtitle {
  margin-block-start: 20px;
}

.focus__item {
  padding-block-start: 20px;
}

.focus__mini-subtitle {
  font-weight: 400;
}

.focus__paragraph {
  padding-block-start: 10px;
}

.pictures {
  display: grid;
  gap: var(--img-spacebar);
  padding-block-start: 50px;
  grid-template: 
  minmax(min-content, auto)
  minmax(min-content, auto)
  minmax(min-content, auto)
  minmax(min-content, auto)
  minmax(min-content, auto)
  minmax(min-content, auto)
  / minmax(min-content, auto);
}

.pictures__img {
  width: 100%;
  height: 100%;
  padding: 0;
  object-fit: cover;
}

.footer {
  position: relative;
  min-height: 375px;
  margin-block-start: 40px;
  padding: var(--special-space);
  block-size: 100vh;
}

.footer__heading {
  padding-block-start: 276px;
  padding-block-end: 275px;
  color: var(--heading-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.82;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  :root {
    --special-space: 20px;
    --img-spacebar: 20px;
    --nav-space: 173px;
    --decor-space: 20px;
    --heading-space: 174px;
  }

  .header__decor-element {
    inset-block-start: 21px;
    inset-inline-end: 29px;
  }

  .header {
    grid-template-areas: 
    "nav nav"
    "heading heading"
    ". description";
    padding: var(--special-space);
  }

  .header__heading {
      margin-inline-start: -20px;
  }

  .header__description {
    /* margin-block-end: 163px; Удалить, когда все будет готово */
    max-width: 364px;
    margin-block-start: 162px;
  }

  .reasons {
    display: grid;
    grid-template: 
    min-content 
    1fr
    / minmax(min-content, auto) 1fr;
    grid-template-areas: 
    "title text-block-one"
    ". text-block-two"
    ;
    padding-block-start: 60px;
  }

  .reasons__heading {
    grid-area: title;
    width: 100%;
    max-width: 236px;
  }

  .reasons__item {
    justify-self: end;
    width: 100%;
    max-width: 472px;
  }

  .reasons__item:first-of-type {
    padding-block-start: 0;
  }

  .reasons__item_moving-one {
    grid-area: text-block-one;
  }

  .reasons__item_moving-two {
    grid-area: text-block-two;
  }

  .attension {
    padding-block-start: 80px;
  }

  .attension__heading {
    width: 100%;
    max-width: 236px;
  }

  .focus {
    display: grid;
    grid-template: 
    fit-content
    min-content
    min-content
    min-content
    min-content
    min-content
    / minmax(min-content, auto) 1fr;
    grid-template-areas: 
    "title subtitle"
    "title focus_one"
    ". focus_two"
    ". focus_three"
    ". focus_four"
    ". focus_five"
    ;
    column-gap: 20px;
    padding-block-start: 80px;
  }

  .focus__heading {
    grid-area: title;
    width: 100%;
    max-width: 236px;
  }

  .focus__subtitle {
    grid-area: subtitle;
    margin-block-start: 0;
  }

  .focus__item_one {
    grid-area: focus_one;
  }

  .focus__item_two {
    grid-area: focus_two;
  }

  .focus__item_three {
    grid-area: focus_three;
  }

  .focus__item_four {
    grid-area: focus_four;
  }

  .focus__item_five {
    grid-area: focus_five;
  }

  .pictures {
    grid-template: 
    min-content
    minmax(min-content, clamp(100px, 192px, 100%))
    1fr
    minmax(min-content, clamp(100px, 318px, 100%))
    / 1fr 1fr 1fr;
    grid-template-areas: 
    "heading heading heading"
    "img_one img_one img_two"
    "img_three img_four img_two"
    "img_three img_five img_five"
    ;
    gap: var(--img-spacebar);
    padding-block-start: 80px;
  }

  .pictures__heading {
    grid-area: heading;
  }

  .pictures__img_one {
    grid-area: img_one;
  }

  .pictures__img_two {
    grid-area: img_two;
    height: 100%;
    object-fit: cover;
  }

  .pictures__img_three {
    grid-area: img_three;
    height: 100%;
    object-fit: cover;
  }

  .pictures__img_four {
    grid-area: img_four;
  }

  .pictures__img_five {
    grid-area: img_five;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 60px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    padding: 0;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .header__heading {
    padding-block-start: 275px;
    --heading-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    max-width: 491px;
    margin-block-start: 114px;
    margin-block-end: 115px;
  }

  .reasons__heading {
    max-width: 315px;
  }

  .reasons__item {
    max-width: 649px;
  }

  .attension__heading {
    max-width: 315px;
  }

  .attension__wrapper {
    display: flex;
    gap: 20px;
  }

  .attension__item {
    width: 100%;
    max-width: 315px;
  }

  .focus__heading {
    max-width: 315px;
  }

  .footer__heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}